# Visual Studio
.vs/
*.user
*.suo

# .NET
bin/
obj/

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

*.db
*.db-shm
*.db-wal
publish/

backend/RevArt.Api/appsettings.Development.json

backend/RevArt.Api/appsettings.Staging.json

publish/

backend/RevArt.Api/appsettings.Development.json

backend/RevArt.Api/appsettings.Staging.json

backend/RevArt.Api/appsettings.Production.json
